<form [formGroup]='customerForm'>
  <div>
      <span>Name:</span><input type='text' formControlName='name'>
  </div>
  <div>
      <span>Last Name:</span><input type='text' formControlName='lastName'>
  </div>
  <ng-container *ngFor='let control of this.customerForm.controls.phoneNumbers; let i = index'>
      <div [formGroup]="control">
          <input type='text' formControlName='label'>
          <input type='text' formControlName='number'>
      </div>
  </ng-container>
  <div (click)='addPhoneNumber()'>+</div>
</form>

<!-- <div *ngFor="let control of customerForm.controls">
  {{ control.value }}
</div> -->

<ng-template>
  <input type='text' formControlName='label'>
  <input type='text' formControlName='number'>
</ng-template>
