<p>user-list works!</p>

<button (click)="warnUser()">click me</button>

<input type="text" [(ngModel)]="inputValue" style="display: block;">

<p>Hello {{inputValue}}!</p>

<p>{{ today | date:'dd/MM/yyyy'}}</p>

<div *ngFor="let movie of movies$ | async">
  <app-movie [movie]="movie" (deleted)="deleteMovie($event)" ></app-movie>
</div>


<button (click)="addmovie()">add movie</button>
<button (click)="cancelAdding()">cancel</button>
<app-movie-form *ngIf="isInEditMode" [editedMovie]="movieToEdit"></app-movie-form>

<button (click)="addDummyMovie()">add Dummy</button>

